@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

$font-style: 'Shantell Sans', "cursive";
$font-color1: white;
$font-color2: #115ff4;
$accent-color1: #aaaaaa;
$accent-color2: #cccccc;
$background-image-url: "https://t4.ftcdn.net/jpg/03/70/53/41/360_F_370534114_QlOF3dyriW4MWODGNz1GXuNMdqj118SI.jpg";


* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url($background-image-url);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: $font-style;
    text-align: center;
    color: $font-color1;
}

/*======================== Smaller screen ===================================*/

div#app {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

    > * {
        flex: 1 1 100%;
    }
}

// div#app > * {
//     flex: 1 1 100%;
// }

h1 {
    color: $font-color2;
    text-shadow: 3px 3px 0 $accent-color2;
}

#play {
    padding: 2px;
}

#username {
    width: 15rem;
    height: 1.5rem;
    font-family: $font-style;
    text-indent: 10px;
}

#jeopardy-board__div {
    width: 70%;
    background-color: black;
    display: flex;
    align-content: center;
    margin: 6% auto 5rem;
    padding: 1em;
}

#jeopardy-board ul {
    width: 100%;
    flex: auto;
    padding: 0 1rem;
    flex-wrap: wrap;
    align-self: flex-end;

    li {
        width: 7rem;
        height: 4rem;
        flex: auto;
        list-style: none;
        margin-top: .5rem;

        button {
            width: 7rem;
            height: 4rem;
        }
    }
}

// #jeopardy-board ul li {
//     width: 7rem;
//     height: 4rem;
//     flex: auto;
//     list-style: none;
//     margin-top: .5rem;
// }

// #jeopardy-board ul li button {
//     width: 7rem;
//     height: 4rem;
// }

.hide {
    display: none;
}

.questions {
    width: 40%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    background-color: $font-color2;
    padding: 2rem 0;

    .x-button {
        border: none;
        padding: 5px;
        position: absolute;
        top: 5px;
        right: 5px;

        :hover {
            background-color: red;
            color: white;
        }

        :active {
            background-color: gray;
            color: black;
        }
    }

    .answer-input {
        position: absolute;
        top: 50%;
        width: 50%;
        height: 2rem;
        transform: translate(-50%, -50%);
        text-indent: 15px;
        font-size: larger;
    }

    .answer-btn {
        position: relative;
        transform: translate(-50%, -50%);
        top: 10rem;
        padding: 5px;
        border: none;

        :active {
            background-color: gray;
            color: white;
        }
    }
}

// .questions .x-button {
//     border: none;
//     padding: 5px;
//     position: absolute;
//     top: 5px;
//     right: 5px;
// }

// .questions .x-button

// .questions .x-button:active {
//     background-color: gray;
//     color: black;
// }

// .questions .answer-input {
//     position: absolute;
//     top: 50%;
//     width: 50%;
//     height: 2rem;
//     transform: translate(-50%, -50%);
//     text-indent: 15px;
//     font-size: larger;
// }

// .questions .answer-btn {
//     position: relative;
//     transform: translate(-50%, -50%);
//     top: 10rem;
//     padding: 5px;
//     border: none;
// }

// .questions .answer-btn:active {
//     background-color: gray;
//     color: white;
// }
 
footer {
    position: absolute;
    bottom: 0;
    height: 2rem;
    margin: 0 auto;
}

